:root {
  --turquoise: #66e2dc;
  --dark-orange: #fa7453;
  --light-orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  background: url("assets/bg-main-desktop.png") no-repeat;
  background-size: auto;
  background-position-x: -250px;
  background-position-y: -300px;
}

nav {
  color: var(--black);
}

h1 {
  font-weight: bold;

  font-size: 8vw;
  line-height: 8vw;
  letter-spacing: -1px;
  color: var(--black);
}

h2 {
  font-weight: bold;
  font-size: 3vw;
  line-height: 52px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.top-img {
  position: absolute;
  top: -4%;
  right: 0px;
  width: 15%;
  height: auto;
}
.container {
  flex: 1;
}
footer {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 7%;
}

footer span {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  margin: 5px;
}

.top-text {
  width: 65%;
}
.slogan {
  margin-top: 7%;
  margin-bottom: 2%;
}
.body1 {
  color: var(--black);
  font-size: 1.5vw;
  line-height: 3vw;

  margin-top: 5%;
}

.graphic {
  margin-right: 7%;
  margin-top: 10%;
  display: flex;
}

.graphic-background {
  background-color: var(--black);
  flex-basis: 100%;
  position: relative;
  border-radius: 12px;
  z-index: -10;
  overflow: hidden;
}

.graphic-background img {
  margin-left: 30%;
  margin-bottom: 10%;
  margin-top: -3%;
}

.phone {
  max-height: 50%;
  width: auto;
  margin-left: 11%;
  /* transform: translateX(100px); */
  transform: translateY(-15%);
  position: absolute;
  /*  
  left: 15%;
  bottom: 15%;
  transform: translateY(-20%);
  z-index: 5; */
}

.body2 {
  position: absolute;
  right: 18%;
  transform: translateY(40%);
  display: flex;
  flex-direction: column;

  font-size: 1.3vw;
  line-height: 2vw;
  color: var(--white);
  background-color: var(--dark-orange);
  width: 30%;
  padding: 3% 5%;
  border-radius: 10px;
}

.price {
  margin: 20px 0;
}

.price span {
  font-weight: bold;
  font-size: 3vw;
  line-height: 52px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 2px;
  height: 61px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
}

button span {
  margin: 10px;
  font-weight: bold;
}

.ios-btn {
  background-color: var(--black);
  color: var(--white);
}

.ios-btn:hover {
  background-color: var(--turquoise);
}
.android-btn {
  background-color: var(--white);
  color: var(--black);
}
.android-btn:hover {
  background-color: var(--light-orange);
}

@media (max-width: 800px) {
  .graphic {
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .phone {
    max-height: 40%;
    width: auto;
    margin-left: 11%;
    transform: translateY(-20%);
    position: absolute;
  }
  .body2 {
    width: 40%;
  }
  .price {
    font-size: 2vw;
  }
  .price span {
    font-size: 4vw;
  }
  footer {
    flex-wrap: wrap;
  }
  .footer-logo {
    flex-basis: 100%;
    margin-bottom: 3%;
  }
  .footer-text {
    width: 50%;
    font-size: 1.7vw;
  }
  .footer-images {
  }
}

@media (max-width: 600px) {
  html {
    background-size: auto;
    background-position-x: -950px;
    background-position-y: -600px;
  }
  nav {
    margin-top: 5%;
    margin-left: 5%;
  }
  nav img {
    width: 30%;
    height: auto;
  }
  body {
    margin: 0 0;
  }
  .top-img {
    display: none;
  }
  .top-text {
    width: 100%;
  }
  .slogan {
    width: 78%;
    margin: 5% 5%;
  }
  .body1 {
    width: 90%;
    font-size: 3.5vw;
    line-height: 4.5vw;
    margin: 0 5%;
    margin-bottom: 25%;
  }
  .graphic {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0 0;
  }

  .phone {
    margin-left: 30%;
  }
  .graphic-background {
    width: 100%;
    margin: 0 0;
  }
  .body2 {
    width: 100%;
    position: relative;
    right: 0;
    transform: translateY(-40%);
    align-self: center;
    justify-self: center;
    font-size: 3vw;
    line-height: 4vw;
  }
  .body2 h2 {
    font-size: 6vw;
  }

  .price {
    font-size: 3vw;
  }
  .price span {
    font-size: 9vw;
  }
  footer {
    margin-top: -20%;
    margin-left: 5%;
  }
  .footer-logo {
    width: 30%;
  }
  .footer-text {
    width: 50%;
    flex-basis: 100%;
    margin-bottom: 10%;
    font-size: 3vw;
  }

  .footer-images {
    margin-bottom: 10%;
  }
}
